page-home {

  .logout-button {
    float: right;
  }

  .home-dashboard {
    background-image: url("../../assets/images/cityScape_with_cars.jpg");
  }

  .main-card {
    margin-top: 10%;
  }

  .main-card__button{
    margin: 0 22% 5%;
  }

}
